@model IEnumerable<Universidade.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CursoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CursoID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
